.display{
  display: none;
}
.buttons {
  margin-left: 39.5%;
  margin-top: 40px;
}
#time {
  font-size: 100px;
  margin-left: 40.5%;
    
}
#start {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 18px;
  font-weigth: bold;
  border-radius: 50%;
  border: none;
  background-color: #00ff41;
  box-shadow: 2px 2px 2px 2px #cccccc;
  margin-right: 10px;
}
#resume {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 18px;
  font-weigth: bold;
  border-radius: 50%;
  border: none;
  background-color: #ffff00;
  box-shadow: 2px 2px 2px 2px #cccccc;
  margin-right: 10px;
}
#stop {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 18px;
  font-weigth: bold;
  border-radius: 50%;
  border: none;
  background-color: #c21807;
  box-shadow: 2px 2px 2px 2px #cccccc;
  margin-right: 10px;
}
#reset {
  width: 80px;
  height: 80px;
  color: #ffffff;
  font-size: 18px;
  font-weigth: bold;
  border-radius: 50%;
  border: none;
  background-color: #000000;
  box-shadow: 2px 2px 2px 2px #cccccc;
  margin-right: 10px;
}
.container {
  width: 250px;
}
.BS {
 width: 60px;
 margin-left: 9px;
 margin-top: 3px;
 margin-bottom: 2px;
 text-align:center;
 border-style: solid;
 border-width:2px;
 border-color:#cccccc;
}
.BS_2{
  margin-left: 16px !important;
}
#plus, #minus {
  margin-left: 28%;
  width: 30px;
  background-color: #333;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 0px 0px #000000;
}
#plus_s, #minus_s {
  margin-left: 32%;
  width: 30px;
  background-color: #333;
  color: #ffffff;
  border: none;
  box-shadow: 0px 2px 0px 0px #000000;
}